@import "../../styles/base/_all";

ce-question {
    display:block;

    .response-body {
        height:300px;
        background-color:#fff;
    }

    .ql-toolbar {
        background-color:#fff;
    }

    .question-description {
        font-size:0.8em;
    }
}
